# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Log files
*.log

# User-specific Folders
Project/src/CMakeFiles/
Project/build/

# vim files
*.swo
*.swp